{{#*inline "page"}}

<section class="ph3 ph5-ns pt6 pb4 flex-grow">
    <h1>Commands</h1>
    <p class="white-90 lh-copy">
        The default prefix for sushii is <span class="code bg-shadow">s!!</span>.
        You can also <span class="code bg-shadow">@sushii</span> the bot as the prefix.
        <br>
        Required arguments are in <span class="code bg-shadow">[brackets]</span>
        <br>
        Optional arguments are in <span class="code bg-shadow">(parentheses)</span>
        <br>
        Some commands have a <span class="code bg-shadow light-red">REQUIRED_PERMISSION</span> or
        <span class="code bg-shadow light-orange">OPTIONAL_PERMISSION</span> for the
        user invoking the command to use additional functionality.
    </p>

    {{#each commands.groups }}
    <h2 class="ttu fw3 tracked">{{ this.name }}</h2>
    <p>{{ this.description }}</p>

    <ul class="list br3 pa2 pa3-ns ba b--white-10">
        {{#each this.commands }}
        <li class="mv3">
            <p>
                <span class="fw6 blue">{{ this.name }}</span>
                <span class="light-red">{{ this.usage }}</span>
            </p>

            <div class="bl bw1 b--gray">
                <p class="white-90 ml2 measure lh-copy">
                    {{ this.description }}
                </p>

                {{# if this.examples}}
                <p class="white-90 ml2">Examples:</p>
                {{/if}}

                {{#each this.examples}}
                <ul class="list pl2">
                    <li class="mv1 pa1 code bg-shadow dib">
                        > {{ this }}
                    </li>
                </ul>
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</section>

{{/inline}}
{{~> (parent)~}}