{{#*inline "page"}}

<section class="ph3 ph5-ns pt6 pb4 flex-grow">
    <h1 class="fw6">Commands</h1>
    <p class="white-90 lh-copy">
        The default prefix for sushii is <span class="code bg-shadow">s!!</span>.
        You can also <span class="code bg-shadow">@sushii</span> the bot as the prefix.
        <br>
        Required arguments are in <span class="code bg-shadow">[brackets]</span>
        <br>
        Optional arguments are in <span class="code bg-shadow">(parentheses)</span>
        <br>
        Some commands have a <span class="code bg-shadow light-red">REQUIRED_PERMISSION</span> or
        <span class="code bg-shadow light-orange">OPTIONAL_PERMISSION</span> for the
        user invoking the command to use additional functionality.
    </p>

    {{#each commands.groups }}
    <h2 class="ttu fw3 tracked">
        <a href="#{{ this.name }}" class="link blue">#</a>
        <span id="{{ this.name }}" class="anchor-target"></span>
        {{ this.name }}</h2>
    <p>{{ this.description }}</p>

    <ul class="list br3 pa2 pa3-ns ba b--white-10">
        {{#each this.commands }}
        <li class="mv3">
            <p>
                <span class="fw6 blue">{{ this.name }}</span>
                <span class="light-red">{{ this.usage }}</span>
            </p>
            {{# if this.aliases }}
            <div class="mb3">
                <p class="white-70 dib ma0">Aliases:</p>
                {{#each this.aliases }}
                <span class="mt0-l mt2 mr2 pa1 ph2 bg-medium-grey hover-bg-dark-blue br1 dib">{{ this }}</span>
                {{/each}}
            </div>
            {{/if}}

            <div class="w-100 bl bw1 pl2 bg-shadow br2 b--white-80 flex flex-wrap">
                {{! Command description }}
                <div class="w-100 w-50-l">
                    <p class="white-90 ma0 pa3 measure lh-copy">
                        {{ this.description }}
                    </p>
                </div>
                <div class="w-100 w-50-l">
                    {{! Example list }}
                    {{# if this.examples}}
                    <p class="white-90 ma0 pa3 measure fw6">Examples</p>
                    {{> components/discord_messages messages=this.examples }}
                    {{/if}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</section>

{{/inline}}
{{~> (parent)~}}